.selectCompany {
    @apply 
    px-3
    py-1.5
    text-base
    text-gray-700
    /* bg-white  */
    bg-clip-padding
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    m-0
    focus:text-gray-700 focus:outline-none;
    margin-right: 5px;
    cursor: pointer;
  }

  .divClient {
    position: relative;
    margin-left: 200px; 
    bottom: 35px 
  }

  .selectClient {
    @apply 
    px-3
    py-1.5
    text-base
    text-gray-700
    /* bg-white bg-clip-padding */
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    m-0
    focus:text-gray-700 focus:outline-none;
    margin-left: -50px;
    cursor: pointer;
  }

  .labelClient{
    position: relative ;
    bottom: 28px;
    left: 65px 
  }

  .search{
    @apply px-4
    py-1
    text-base
    text-gray-700
    border border-solid border-gray-300
    rounded
    focus:text-gray-700 focus:outline-none
  }