@media print {
  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  }

  #vat_checkbox {
    display: none;
  }
  textarea::-webkit-resizer {
    display: none;
    height: min-content;
  }

  /* hide the select */
  #bank {
    display: none;
  }

  button {
    display: none;
  }
}
