@media print {
  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  textarea::-webkit-resizer {
    display: none;
    height: max-content;
  }

  /* hide the select */
  select {
    display: none;
  }

  button {
    display: none;
  }
}
