.text-wrap {
	overflow-wrap: anywhere;
}

@media print {
	.invoice-item {
		page-break-inside: avoid;
	}

	.print\:items-start {
		align-items: flex-start;
	}

	@page {
		size: A4 portrait;
		margin: 0;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	input[type='date']::-webkit-inner-spin-button,
	input[type='date']::-webkit-calendar-picker-indicator {
		display: none;
	}

	/* hide the checkbox */
	#lines_breakdown_form,
	#lines_breakdown_checkbox,
	#vat_checkbox,
	#bank {
		display: none;
	}

	textarea::-webkit-resizer {
		display: none;
		height: min-content;
	}

	button {
		display: none;
	}

	.company-search {
		display: none;
	}
}
