@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body {
	background-color: #1c1917;
	margin: 0;
	font-family: 'Barlow Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.card:hover > div > p > i {
	text-decoration: underline !important;
}
.card:hover {
	cursor: pointer;
}

/*esto sirve para el sweetalert2 para que aparezca adentro del modal  */
.custom-container {
	z-index: 10000 !important;
}

/* Scrollbar styles */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #888;
}

/* tailwind.config.css or your global CSS file */
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Webkit browsers */
}

.hide-scrollbar {
	/* Hide scrollbar for IE and Edge */
	-ms-overflow-style: none;
	/* Hide scrollbar for Firefox */
	/* scrollbar-width: none; */
}

.no-scroll {
	overflow: hidden !important;
}

.react-pdf__Page__textContent {
	display: none;
}

/* In your global.css or equivalent file */
.table-fixed {
	table-layout: fixed;
	width: 100%; /* This ensures your table fills the parent container */
}

/* Remove native arrow in Internet Explorer and Edge */
select::-ms-expand {
	display: none;
}

/* Remove native arrow in WebKit browsers (Chrome, Safari) */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Remove native arrow in Firefox */
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}
