.hotelsContainer {
	@apply flex;
}

.dayEventsContainer {
	@apply min-h-[30px];
}

.list {
	@apply bg-black-50 rounded-lg shadow-md cursor-pointer p-4 mb-2 border border-transparent w-[200px];
}

.hotels {
	@apply flex flex-wrap;
}

.hotel {
	@apply my-1 mx-2 bg-gray-50 rounded-lg shadow-lg cursor-pointer px-6 border border-transparent flex items-center min-w-[280px] overflow-hidden h-8;
}

.hotel:hover {
	@apply bg-gray-300 opacity-60;
}

.list:focus,
.hotel:focus {
	@apply outline-none;
}

.list:active,
.hotel:active {
	@apply bg-orange-50 opacity-60 text-white-0 font-extrabold;
}

.list.dragging {
	@apply bg-gray-50;
}

.deleted {
	@apply inline-block ml-auto cursor-pointer text-gray-500;
}

.deleted:hover {
	@apply text-gray-700;
	transform: scale(1.2);
}

.deletedImagen {
	position: absolute;
	cursor: pointer;
	margin: 2px;
}

.iconGarbage {
	font-size: 28px;
	color: rgb(215, 215, 45);
}

.iconGarbage:hover {
	color: red;
	/* transform: scale(1.3); */
}

.buttonCancel {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	color: rgba(254, 64, 64, 0.749);
}

.buttonCancel:hover {
	color: red;
	transform: scale(1.1);
}

.custom-container {
	z-index: 20000 !important;
}
