.buttonCreated {
	@apply /* mx-5 focus: scale-110  */
    hover:animate-pulse 
    bg-transparent 
    hover:bg-orange-50 
    text-white-100 
    uppercase 
    font-semibold 
    hover:text-black-50 
    py-2 px-4 border 
    border-orange-50 
    hover:border-transparent 
    rounded;
}

.divForm {
	@apply block 
    p-6 
    rounded-lg 
    shadow-lg 
    w-3/4;
}

.inputText {
	@apply w-full
    px-2
    py-1
    text-base
    text-white-0 
    border border-solid border-gray-300
    rounded
    focus:text-gray-700 focus:outline-none;
}

.selectType {
	@apply flex-1
    w-full 
    py-1 
    px-2 
    border-0 
    rounded-md 
    bg-green-50 
    text-center 
    cursor-pointer;
}

.validationError {
	@apply bg-red-500 
    font-bold 
    text-white-50;
}
